body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.margin-top-30 {
  margin-top: 30px;
}

.no-padding {
  padding: 0;
}
/*Header*/
.header_slogan {
  padding: 15px 0;
}

.header_slogan h2 {
  font-size: 14px;
  margin: 0;
}

.header_slogan_right_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header_slogan_right_list_item {
  display: inline;
  padding-right: 15px;
}

.header_slogan_right_list_item a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

.header_slogan_right_list_item a:hover {
  text-decoration: none;
}

.header_bottom {
  background: #d82731;
  line-height: 80px;
  position: relative;
}

.logo {
  padding: 10px 0;
}

#nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  display: inline-block;
  padding: 0 10px;
  position: relative;
  line-height: 80px;
}

.nav-item:last-child {
  margin-right: 25px;
}

.nav-item a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.nav-item a:hover {
  color: #fff200;
  text-decoration: none;
}

.nav-item::after {
  content: '';
  width: 70%;
  height: 4px;
  background: #fff200;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  transition: all ease 0.5s;
  margin: auto;
}

.nav-item:hover::after {
  transform: scale(1);
}

.main_menu_list_sub_menu {
  padding: 0;
  background: #222327;
  border: 1px solid #222327;
  min-width: 165px;
  position: absolute;
  left: 0;
  top: 200%;
  transition: all ease 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}


.nav-item:hover .main_menu_list_sub_menu {
  top: 85px;
  visibility: visible;
  opacity: 1;
}

.main_menu_list_sub_menu_item {
  position: relative;
  border-bottom: 1px solid #333;
  list-style: none;
  line-height: 25px;
  height: auto !important;
  padding: 0;
}

.main_menu_list_sub_menu_item a {
  color: #fff;
  padding: 15px 7px;
  background: none;
  font-size: 14px;
  line-height: 1.4;
  text-transform: capitalize;
  display: block;
}

.main_menu_list_sub_menu_item a:hover {
  text-decoration: none;
  background: #d82731;
}

.form_search_main {
  position: absolute;
  /*top: 39%;*/
  right: 0;
  z-index: 999;
}

.form_search_icon {
  float: right;
  color: #fff;
  cursor: pointer;
}

.form_search_icon::before {
  content: "|";
  padding: 10px;
}



/*End header*/

/*Section 1 - Banner slider*/
.section1 {
  margin-bottom: 25px;
}

.owl-banner-slider .owl-nav {
  display: none;
}
/*End Section 1 - Banner slider*/

/*Section 2 - Work*/
.section2 {
  margin-bottom: 35px;
}

.box_work {
  padding: 35px 0 0 0 ;
}

.box_work_heading_title {
  margin: 0 0 30px 0;
}

.box_work_heading_title a {
  color: #000;
  text-decoration: none;
}

.box_work_heading_title a:hover {
  color: #d82731;
  text-decoration: none;
}

.box_work_heading_des {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 35px;
}

.field_work_nav_list {
  position: relative;
}

.field_work_nav_list_box {
  position: relative;
  height: 60px;
  overflow: hidden;
}

.field_work_short_tab {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 10000px;
  height: 60px;
  float: left;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  list-style: none;

}

.field_work_short_tab li {
  display: inline-block;
  margin: 0 28px 0 0;
  float: left;
  line-height: 55px;
}

.field_work_short_tab_active {
  border-bottom: 3px solid #e81e32;
  z-index: 99;
}

.field_work_short_tab li a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 0;;
}

.field_work_short_tab li:hover {
  border-bottom: 3px solid #e81e32;
}

.field_work_nav_list_box_action {
  top: 1px;
  right: 0;
  background: #fff;
  height: 55px;
  width: 25px;
  position: absolute;

}

.field_work_nav_list_icon {
  cursor: pointer;
  top: 50%;;
  color: #111;
  font-size: 23px;
  margin-top: -17px;
  position: absolute;
}

.field_work_nav_list_icon.prev {
  width: 20px;
  right: 0;
}

.field_work_nav_list_icon.next {
  right: -15px;
  width: 20px;
}

.fade.in {
  opacity: 1;
  animation: ease zoomIn 0.9s;;
}

.owl_field_work_item_title {
  font-size: 15px;
  margin: 0;
}

.owl_field_work_item_title a {
  color: #111;
  line-height: 25px;
  font-weight: 700;
  text-decoration: none;
}

.owl_field_work_item_title a:hover {
  color: #e81e32;
}

.owl_field_work_item_des>p{
  padding: 11px 0 6px 0;
  margin: 0;
}

/* End Section 2 - Work*/

/*Section 3 - News */
.section3 {
  background: #f1f1f1;
}

.news_box {
  padding: 65px 0;
}

.news_box_content_top_title {
  margin: 0 0 30px 0;
}

.news_box_big_img {
  position: relative;
}

.news_box_big_img img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.news_box_big_info {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 25px;
  border-radius: 8px;
}

.news_box_big_info_time i {
  margin-bottom: 10px;
  padding-right: 5px;
}

.news_box_content_big_info_des a {
  color: white;
  text-decoration: none;
}

.news_box_content_small_img img {
  width: 100%;
}

.news_box_content_small_time {
  padding: 20px 0 15px;
}

.news_box_content_small_title a {
  font-size: 16px;
  line-height: 25px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.news_box_content_small_title a:hover {
  text-decoration: none;
  color: #d82731;
  transition: all 0.5s;
}

.news_box_content_small_title {
  margin: 0;
  padding-bottom: 10px;
}

.news_box_content_small_des {
  margin: 0;
  padding-bottom: 36px;
  border-bottom: 1px solid #e1e1e1;
}

.news_box_content_readMore {
  display: block;
  margin: 10px;
  color: #ccc;
}

.news_box_content_readMore a {
  text-decoration: none;
  color: #000;
}

.news_box_content_readMore a:hover {
  color: #d82731;
  text-decoration: none;
  font-size: 16px;
}
/*End section 3 - News*/

/*Section 4 - About*/
.about_box {
  padding: 50px 0 70px 0;
}

.about_box_content {
  border: 1px solid #e1e1e1;
}

.about_box_title h3 {
  margin: 0 0 20px;;
}

.about_box_content_img img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.about_box_content_info {
  padding: 29px;
}

.about_box_content_info p {
  line-height: 30px;
}

.about_box_content_info_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about_box_content_info_list li {
  padding: 10px 0;
  border-bottom: 1px solid #ebebeb;
}

.about_box_content_info_list li:last-child {
  border-bottom: none;
  padding-bottom: 7px;
}

.about_box_content_info_list li a {
  color: #000;
  text-decoration: none;
}

.about_box_content_info_list li a:hover {
  color: #d82731;
}

.about_box_content_info_list p {
  line-height: 25px;
}
/*End section 4 - About*/

/*Section 5 - Feedback*/
.feedback_customer {
  padding: 0 0 79px;
}

.feedback_customer_inner {
  padding: 0 170px;
}

.feedback_customer_icon img {
  display: block;
  max-width: 100%;
  margin: 0 auto 25px;
}

.feedback_customer_content {
  font-family: 'Time New Roman', sans-serif;
  font-size: 18px;
  color: #2d2d2d;
  text-align: center;
  line-height: 30px;
}

.feedback_customer_inner_line {
    height: 35px;
    width: 1px;
    background: #e5e5e5;
    margin: 45px auto 30px;
}

.feedback_customer_avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin: 0 20px 0;
  cursor: pointer;
}

.feedback_customer_avatar img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.feedback_customer_avatar_content {
  float: left;
  display: table;
}

.feedback_customer_avatar_content h2 {
  margin: 0;
  font-size: 16px;
  color: #2d2d2d;
}

.feedback_customer_avatar_content em {
  padding: 6px 0;
  color: #888;
  display: block;
  font-family: 'Time New Roman', sans-serif;
}

.feedback_customer_avatar_content_star {
  color: #ffce00;
  font-size: 11px;
}

.feedback_customer .owl-carousel .owl-item img {
  width: auto;
}

.feedback_customer #sync2 .owl-item {
  opacity: 0.5;
}

.feedback_customer #sync2 .owl-item.current {
  opacity: 1;
}
/*End section 5 - Feedback*/

/*Footer*/
.footer_top {
  padding: 35px 0;
  background: #f1f1f1;
}

.footer_top_social_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer_top_social_list li {
  display: inline-block;
  margin-right: 10px;
}

.footer_top_social_list li a {
  display: inline-block;
  width: 44px;
  height: 44px;
  color: #959595;
  background: #fff;
  text-align: center;
  line-height: 44px;
  font-size: 15px;
  transition: all ease 0.5s;
}

.footer_top_social_list li a:hover {
  background: #d82731;
  color: #fff;
}

.footer_top_form_input {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
  border: 1px solid #e1e1e1;
  height: 44px;
  position: relative;
}

.footer_top_form_input_action {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 44px;
  padding: 0 30px;
  background: #d82731;
  color: #fff;
  border: none;
  display: inline-block;
  line-height: 44px;
  font-size: 15px;
}

.footer_bottom {
  padding: 30px 0;
  background: #d82731;
  color: #fff;
}
/*End footer*/
